<h1>Jídelníček na dnešní den není zatím k dispozici</h1>
<p>Litujeme,<br/>
jídelní lístek restaurace je k&nbsp;disposici pouze v&nbsp;pracovní dny od 11:00.
<p>Pokud se Vám v&nbsp;tuto dobu přesto nezobrazil, 
použijte, prosím, <a href="/menu">jídelní lístek rozvozu</a></p>
