
<% content_for :javascript do %>
  <% fw_strings = {:val_true => t(:true_class), :val_false => t(:false_class), :submit => t('submit'), :show_all => t('show_all'), :formats => {'xls' => t('download') + " XLS"}} %>
  <%= filter_widget("records-rules", :url => url_for(params),
                                   :wrap => false,
                                   :beforeSend => %{function() {$("#records").html('<p><img src="/images/loading.gif" alt="loading" /></p>');}},
                                   :strings => fw_strings) do |widget|
        widget.add_rule("car_id", t(:model_car), "enum", @cars)
        widget.add_rule("private_distance", t(:attr_private_distance), "numeric")
        widget.add_rule("business_distance", t(:attr_business_distance), "numeric")
      end %>
<% end %>
<% if @options[:calendar_widget] %>
<% content_for :sidebar do %>
  <%= calendar_widget :action => 'index', :active_dates => @options[:dates_proc].call, :updates => '#index', :date_param => :date%>
<% end %>
<% end%>

<%= render :partial => "index" %>
<p id="records-rules"></p>