<h1><%=t(:have_you_forgotten_password?).mb_chars.capitalize%></h1>
<p><%= snippet "forgotten_password_dialog"%></p>
<% form_for 'user', :url => url_for(:controller => :mailer, :action => :send_forgotten_password) do |f|%>
<p><label for="user_login_or_email"><%=t(:user_or_email)%>:</label> <input type="text" name="user[login_or_email]" id="user_login_or_email"/> <%= f.submit t(:submit)%></p>
<% end%>