<h1><%= locales[:generate_new_password]%></h1>

  <% form_for 'user', :url => url_for(:controller => :users, :action => :generate_password, :id => @user.id), :html => {:method => :get} do |f|%>
  <p><%= locales[:do_you_really_want_generate_new_password_for_user_u_?].gsub("%u","<strong>#{@user.login}</strong>")%>
    <input type="hidden" name="auth" value="<%=@token%>"/>
    <%= f.submit locales[:yes_i_want].chars.capitalize%>
  </p>
  <%end%>