<h1><%= t(:generate_new_password)%></h1>

  <% form_for 'user', :url => url_for(:controller => :users, :action => :generate_password, :id => @user.id), :html => {:method => :get} do |f|%>
  <p><%= t(:do_you_really_want_generate_new_password_for_user_u_?).gsub("%u","<strong>#{@user.login}</strong>")%>
    <input type="hidden" name="auth" value="<%=@token%>"/>
    <%= f.submit t(:yes_i_want).mb_chars.capitalize%>
  </p>
  <%end%>