<div style="display: none;"><script type="text/javascript">/*<![CDATA[*/
document.write('<img src="/images/javascript.gif" alt="javascript test"/>');
/*]]>*/</script>
<img src="/images/noscript.gif" alt="noscript test"/></div>