<div id="log_menu">
  <%= (params[:action] == "per_day")? "<span>#{t(:log_per_day)}</span>" : link_to(t(:log_per_day), :action=>"per_day") %>
  <%= (params[:action] == "per_meal")? "<span>#{t(:log_per_meal)}</span>" : link_to(t(:log_per_meal), :action=>"per_meal") %>
  <%= (params[:action] == "balance")? "<span>#{t(:balance)}</span>" : link_to(t(:balance), :action=>"balance")%>
  <%= (params[:action] == "watchdogs")? "<span>#{t(:watchdogs)}</span>" : link_to(t(:watchdogs), :action=>"watchdogs")%>
</div>