<% content_for :javascript do %>
  <% fw_strings = {:val_true => locales['true'], :val_false => locales['false'], :submit => locales['submit'], :show_all => locales['show_all']} %>
  <%= filter_widget("records-rules", :url => url_for(params),
                                   :wrap => false,
                                   :beforeSend => %{function() {$("#records").html('<p><img src="/images/loading.gif" alt="loading" /></p>');}},
                                   :strings => fw_strings) do |widget|
        widget.add_rule("amount", locales[:attr_amount], "numeric")
        widget.add_rule("l.cost*l.amount", locales[:total_cost], "numeric")
        widget.add_rule("cost", locales[:cost_per_unit], "numeric")
      end %>
<% end %>
<% content_for :sidebar do %>
  <%= calendar_widget :action => params[:action], :active_dates => @days, :updates => '#ingredients_log', :date_param => :date%>
<% end %>

<%= render :partial => "menu" %>
<%= render :partial => 'log'%>
<p id="records-rules"></p>