<% content_for :javascript do %>
  <% fw_strings = {:val_true => t('true'), :val_false => t('false'), :submit => t('submit'), :show_all => t('show_all'), :formats => {'xls' => t('download') + " XLS"}} %>
  <%= filter_widget("records-rules", :url => url_for(params),
                                   :wrap => false,
                                   :beforeSend => %{function() {$("#records").html('<p><img src="/images/loading.gif" alt="loading" /></p>');}},
                                   :strings => fw_strings) do |widget|
        widget.add_rule("amount", t(:attr_amount), "numeric")
        widget.add_rule("l.cost*l.amount", t(:total_cost), "numeric")
        widget.add_rule("cost", t(:cost_per_unit), "numeric")
      end %>
<% end %>
<% content_for :sidebar do %>
  <%= calendar_widget :action => params[:action], :active_dates => @days, :updates => '#ingredients_log', :date_param => :date%>
<% end %>

<%= render :partial => "menu" %>
<%= render :partial => 'log'%>
<p id="records-rules"></p>