<td><%= link_to format( (@options[:title][:proc])? @options[:title][:proc].call(record) : record.send(@options[:title][:name]) ,@options[:title][:options]), :action => 'show', :id => record %></td>
<% for column in @options[:columns] %>
<% val = record.send(column[:name]) %>
  <td><%= format((column[:proc].is_a?(Proc))? column[:proc].call(val) : val,column[:options]) %></td>
<% end %>
<td>
  <%= (record.active?)? (smart_link locales[:deactivate], :action => 'deactivate', :id => record) : (smart_link locales[:activate], :action => 'activate', :id => record) %>
  | <%= smart_link locales[:delete], {:action => 'destroy', :id => record}, :confirm => locales['delete_confirmation'] %>
</td>