<% if @ancestors && @ancestors.count > 0%>
  <%= render :partial => "category", :locals => {:i => 0, :category => @ancestors.first}%>
<%else%>
<ul>
  <% @product_categories.each do |p|%>
    <li class="<%= "empty_list" if p.children.length == 0 %>"><%= link_to p.name, :category => p.id%></li>
  <%end%>
</ul>
<% end %>

