<ul>
<% last_level = 0
  js ||= nil
  categories.each do |c|
    level = c.level 
    (level-last_level).times do %>
      <li style='list-style-type: none;'>
        <ul>
    <%end
    (last_level-level).times do %>
        </ul>
      </li>
    <%end
    last_level = level %>
    <li id="<%=row_id%>_category_id_<%=c.id%>">
      <a href="#" <%= "onclick=\"#{js}('#{row_id}',#{c.id}); return false;\"" if js %>><%=c.name%></a>
    </li>
  <%end%>
</ul>