<p>Vážení příznivci a milci Zelené kuchyně,<br/>
po následující 4 páteční večery jsme pro vás v našem restaurantu v Milíčově ulici připravili hudební večery s triem <a href="http://echosdb.cz/">Échos de Belleville</a> (http://echosdb.cz/)  spojené s malou ochutnávkou našich specialit.<p>
<p>Přijměte tedy prosím pozvání již na tento páteční večer od 19h,  rezervace přijímáme mailem, či telefonicky, vstup je zdarma.</p>
<p></p>
<p>Na setkání s vámi se těší pracovníci Zelené kuchyně.</p>