<% content_for :sidebar do %>
  <%= calendar_widget :action => 'summary', :active_dates => @dates, :updates => '#summary', :date_param => :date%>
<% end %>
<h1><%= locales[:summary]%></h1>
<%= render :partial => "summary"%>