<h3>Re: <%= @message.subject %></h3>
<% remote_form_for :message, :class => 'message-body' do |f| %>
  <p>
    <label for="message_body"><%= locales%>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= submit_tag t(:save) %>
  </p>
<% end%>