<tr class="conversation-note-editor">
  <td colspan="4">
    <p>
      <strong><%= t(:note)%>:</strong> 
      <% form_remote_tag :url => {:controller => '/mail/conversations', :action => 'update_note', :id => id} do -%>
        <p>
        <%= text_area_tag :note, note %>
        </p>
        <p>
        <%= submit_tag t(:save) %>
        <%= link_to_remote t(:cancel), :url => {:controller => '/mail/conversations', :action => 'show_note', :id => id} %>
        </p>
      <% end -%>
    </p>
  </td>
</tr>