
<% content_for :javascript do %>
  <% fw_strings = {:val_true => t('true'), :val_false => t('false'), :submit => t('submit'), :show_all => t('show_all'), :formats => {'xls' => t('download') + " XLS"}} %>
  <%= filter_widget("records-rules", :url => url_for(params),
                                   :wrap => false,
                                   :beforeSend => %{function() {$("#records").html('<p><img src="/images/loading.gif" alt="loading" /></p>');}},
                                   :strings => fw_strings) do |widget|
        widget.add_rule("price",t(:attr_price), "numeric")
        widget.add_rule("expense_category_id", t(:attr_category), "enum", @categories)
        widget.add_rule("premise_id", t(:attr_premise_id), "enum", @premises)
        widget.add_rule("expense_owner",t(:expense_owner), "enum", @owners)
      end %>
<% end %>
<% if @options[:calendar_widget] %>
<% content_for :sidebar do %>
  <%= calendar_widget :action => 'index', :active_dates => @options[:dates_proc].call, :updates => '#index', :date_param => :date%>
<% end %>
<% end%>

<%= render :partial => "index" %>
<p id="records-rules"></p>
<script tpye="text/javascript">
var expenses = {
  formatItem: function(row, i, max, term) {
     return term;
  },

  dataType: "json",
  parse: function(data) {
    data = eval(data);
    parsed = [];
    for (i in data) {
      parsed[parsed.length] = {
        data: data[i],
        value: data[i],
        result: data[i]
      }
    }
    return parsed;
  }
}
</script>