<%  content_for :javascript do %>
<%  fw_strings = {:val_true => locales['true'], :val_false => locales['false'], :submit => locales['submit'], :show_all => locales['show_all'], :formats => {'xls' => locales['download'] + " XLS"}}    
  categories_hash = {"null" => locales[:none_assigned] }
  @categories.each { |d|
    categories_hash[d.id] = d.name
  }  %>
<%= filter_widget("product-rules", :url => url_for(params), 
                                   :wrap => false, 
                                   :beforeSend => %{function() {$("#records").html('<p><img src="/images/loading.gif" alt="loading" /></p>');}}, 
                                   :strings => fw_strings) do |widget| 
        widget.add_rule("price", locales[:price], "numeric")
        widget.add_rule("cost", locales[:cost], "numeric")
        widget.add_rule("product_categories.id",locales[:category], "enum", categories_hash)
      end %>
<% end %>
<%= render :partial => "index" %>
<p>
  <%= locales[:product_rules]%>
</p>
<p id="product-rules"></p>